.cover-heading {
    padding-top: 40px;
    padding-bottom: 50px;
}

.btn-secondary {
    text-align: center;
    margin-top: 3rem;
    padding: 10px;
}

.search {
    margin-top: 20px;
    margin-bottom: 50px;
}